//VARIABLES
$ltCyan: hsl(174, 77%, 80%);
$dkCyan: hsl(174, 86%, 45%);
$ltRedGray: hsl(14, 92%, 95%);
$ltRed: hsl(15, 100%, 70%);
$ltBlue: hsl(226, 100%, 87%);

$bgBlue:hsl(230, 100%, 99%);
$ltGrayBlue:hsl(224, 65%, 95%);
$altGrayBlue:hsl(223, 50%, 87%);
$mdGray:hsl(225, 20%, 60%);
$dkBlue:hsl(227, 35%, 25%);


//SETUP
*, *::after, *::before{ 
    box-sizing: border-box;
    margin:0;
}

html, body, .App{
    min-height: 100vh;
    width:100%;
}

body{
    background-color: $bgBlue;
    font-family: "Manrope", sans-serif;
}

.App{
    background-image: url("/public/images/bg-pattern.svg");
    background-position: top center;
    background-repeat: no-repeat;

    padding-bottom:5vh;
}

//TEXT & REUSABLES
h1, h2{
    color: $dkBlue;
}

h5, p, span{
    color: $mdGray;
}

h5{
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.flex-center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
//++++++++++++++++++++++++++++++++
//+++++++++MOBILE STYLES++++++++++
//++++++++++++++++++++++++++++++++
//LOGO COMPONENT
.logo-container{
    position: relative;

    height: 150px;
    margin:5vh 0;
    text-align: center;
    width: 90%;
    
    h2,p{
        z-index: 2;
    }

    p{
        line-height: 1.75;
        padding-top: 1rem;
        width: 65%;
    } 
}

.logo{
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin: 0 auto;

    height: 100%;
    z-index:0;
}


//PRICING COMPONENT
.pricing-container{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;

    height: 600px;
    max-width: 500px;
    width: 90%;
}

//BENEFITS CONTAINER
.benefits-container{
    justify-content: space-evenly;

    border-top:1px solid $ltGrayBlue;
    height: 45%;
    margin-top: 5%;
    padding-top: 5%;
}

.benefit:nth-child(2){
    margin: 1em 0;
}

.icon{
    margin-right: 1em;
}

.trial-btn{
    background:$dkBlue;
    border:none;
    border-radius: 25px;
    color:$ltBlue;
    cursor:pointer;
    margin: 5%;
    padding: 1rem;
    width: 45%;
}


//SLIDER CONTAINER
.slider-container{
    justify-content: space-between;

    height: 55%;
    width: 100%;
}

.range-slider{ 
    appearance: none;
    background-color: $ltGrayBlue;
    border-radius: 10px;
    outline: none;
    height: 10px;
    width: 100%;  
}

.range-slider::-webkit-slider-thumb{
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    width: 35px;
    background: $dkCyan;
    background-image: url("/public/images/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat; 
}



.price-container{ 
    h1{
        font-size: 3rem;
        margin-right: 1rem;
    }

    *{
        display:inline;
    }
}


//TOGGLE
.toggle-container{ 
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-width: 300px;
    width: 100%;

    span{
        font-size: 12px;
    }
}  

.discount{
    background-color:$ltRedGray;
    border-radius: 10px;
    color:$ltRed;
    font-size: 12px;
    padding: 0.25em;
}

.discount::before{
    content:"-25%";
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $altGrayBlue;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $ltCyan;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $ltCyan;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

//++++++++++++++++++++++++++++++++
//+++++++++DESKTOP STYLES+++++++++
//++++++++++++++++++++++++++++++++
@media screen and (min-width: 1000px) {

    .pricing-container{
        width: 75%;
        max-width: 600px;
        height: 450px
    }

    .slider-container{
        display:inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "views price"
            "range range"
            "toggle toggle"
    }

    .discount{
        width: 100px;
        text-align: center;
    }

    .discount::before{
        content:"25% discount"
    }
    
    .views{
        grid-area: views;
    }
    
    .range-slider{
        grid-area: range;
    }

    .price-container{
        grid-area: price;
        text-align: right;
    }

    .toggle-container{
        max-width: 375px;
        grid-area:toggle;
        margin-left: auto;
    }

    .benefits-container{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        padding-top:0;
    }

    .trial-btn{
        display: block;
        margin: auto 0 auto 0;
    }
}