*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html, body, .App {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: #fafbff;
  font-family: "Manrope", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

h1, h2 {
  color: #293356;
}

h5, p, span {
  color: #858fad;
}

h5 {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logo-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 175px;
  margin-bottom: 2.5%;
  text-align: center;
}

.logo-container p {
  line-height: 1.75;
  padding-top: 1rem;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  height: 100%;
  z-index: -1;
}

.pricing-container {
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  height: 600px;
  width: 500px;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #eaeefb;
  height: 45%;
  margin-top: 5%;
  padding-top: 5%;
}

.trial-btn {
  background: #293356;
  border: none;
  border-radius: 25px;
  color: #bdccff;
  cursor: pointer;
  margin: 5%;
  padding: 1rem;
  width: 45%;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55%;
  width: 100%;
}

.range-slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #eaeefb;
  border-radius: 10px;
  outline: none;
  height: 10px;
  width: 100%;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background: #10d5c2;
  background-image: url("/public/images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.price-container h1 {
  font-size: 3rem;
  margin-right: 1rem;
}

.price-container * {
  display: inline;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 80%;
}

.discount {
  background-color: #feece7;
  border-radius: 10px;
  color: #ff8c66;
  font-size: 12px;
  padding: 0.25em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a5f3eb;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #a5f3eb;
          box-shadow: 0 0 1px #a5f3eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=App.css.map */